.vs
.vscode

# ignore build folders
**/bin/
**/bin-int/

!scripts/bin

# ignore solution files
*.sln
**/*.sln

# ignore vsxproj files
*.vsxproj
**/*.vsxproj

# ignore vsxproj.user files
*.vsxproj.user
**/*.vsxproj.user

# ignore vsxproj.filters files
*.vsxproj.filters
**/*.vsxproj.filters

# ignore vsxproj.cache files
*.vsxproj.cache
**/*.vsxproj.cache

# ignore makefiles
Makefile
**/Makefile


